numpy
scikit-learn
torch>=2.0.0
pytorch-lightning>=2.0.0
librosa
soundfile
audioread
jsonargparse[signatures]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
optuna
PyYAML
causal-conv1d>=1.2.0
mamba-ssm>=2.0.0
ncps
